<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hillnerds.yellow.trumpet">


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The receiver listening for button press actions -->
        <receiver android:name=".FingerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.hillnerds.yellow.FINGER0_DOWN"/>
                <action android:name="com.hillnerds.yellow.FINGER0_UP"/>
                <action android:name="com.hillnerds.yellow.FINGER1_DOWN"/>
                <action android:name="com.hillnerds.yellow.FINGER1_UP"/>
                <action android:name="com.hillnerds.yellow.FINGER2_DOWN"/>
                <action android:name="com.hillnerds.yellow.FINGER2_UP"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>